<form class="container" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="example@example.com" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="********" formControlName="password" type="password">
  </mat-form-field>
  <button mat-raised-button color="primary">Login</button>
  <p routerLink="/signup">No account? Signup here</p>
  <p *ngIf="loginForm.errors" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">Invalid email or password</p>
</form>
