<div class="container">
  <h1>To Upload Image on mongoDB</h1>
  <form [formGroup]="imageForm" (ngSubmit)="onImageSubmit()">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input type="text" id="title" formControlName="title" matInput required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea type="text" formControlName="description" matInput ></textarea>
    </mat-form-field>
    <div>
      <mat-label>Image</mat-label>
      <input type="file" id="image" name="image" (change)="onFileSelect($event)"  >
    </div>
    <div *ngIf="imageData">
      <img [src]="imageData" alt="">
    </div>
    <div>
      <button mat-raised-button color="primary" [disabled]="!imageForm.valid">Add Image</button>
    </div>
  </form>
</div>

 
    <h1>Uploaded Images</h1>
    <div *ngIf="images">
      <div *ngFor="let image of images">
        <p>{{image.description}} - {{image.title}}</p>
        <!-- <img [src]="image.image" alt=""> -->
        <img [src]="image.img" alt="">
      </div>
    </div>

          <!-- <img
            src="data:image/<%=image.img.contentType%>;base64,
                    <%=image.img.data.toString('base64')%>"
          />
  -->