.active{ 
  background: grey
}

.navlink {
  padding: .4em;
}
.navlink:hover {
  cursor: pointer;
  color: #757ce8;
  border-radius: .6em;
}

.container {
  display: flex;
  min-width: 99%;
  justify-content: space-between;
}

.profileBadge {
  border: 5px solid white;
  height: 3.8em;
  border-radius: 50%;
}