<mat-toolbar color="primary" class="container">
  <div>
  <span class="navlink" routerLink="/">Harryslist </span>
    <button mat-button routerLink="/posts" routerLinkActive="active">Posts</button>
    <button mat-button routerLink="/add-post" routerLinkActive="active" *ngIf="signedin">Create Post</button>
    <button mat-button routerLink="/messages" routerLinkActive="active" *ngIf="signedin">Message Center</button>
    <button mat-button routerLink="/signup" routerLinkActive="active" *ngIf="!signedin" >Signup</button>
    <button mat-button routerLink="/login" routerLinkActive="active" *ngIf="!signedin" >Login</button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="signedin" class="profileBadge">{{email.slice(0, 1).toUpperCase()}}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile" *ngIf="signedin">View {{email ? email + 's' : 'Your'}} Profile</button>
        <button mat-menu-item routerLink="/myposts" *ngIf="signedin">My Posts</button>
        <button mat-menu-item routerLink="/logout" *ngIf="signedin" >Logout</button>
      </mat-menu>
  </div>
</mat-toolbar>





