<!-- <div id="sidebar">
  <div class="categories">
    <ng-container *ngFor="let cat of categories">
      <p>{{cat.value}}</p>
    </ng-container>
  </div>
</div> -->

<!-- <div id="sidebar">
  <div class="categories">
    <p><mat-checkbox (click)="selectAllOrNothing()"  >Select All</mat-checkbox></p>
    <section class="example-section" [formGroup]="formattedCategories">
      <h4>Select your cateogory:</h4>
      <ng-container *ngFor="let cat of categories">
        <p><mat-checkbox [formControlName]="cat.value">{{cat.value}}</mat-checkbox></p>
      </ng-container>
    </section>
  </div>
</div> -->

<form id="sidebar">
  <ng-container *ngFor="let cat of categories"  class="categories">
    <div class="category">
      <input type="checkbox" checked />
      <label>{{cat.value}}</label>
    </div>
  </ng-container>
</form>