.postContainer {
  display: flex;
  flex-wrap: wrap;
}

.post {
  background-color: rgba(250, 250, 237, 0.2);
  border-radius: 0.5em;
  margin: 1em;
  width: 22em;
  box-shadow: 2px 2px 2px lightgray;
  padding: 0em;
}

.spinner {
  margin: auto;
}