img {
  width: 80%;
  height: 250px;
  padding: none;
  margin: none;
}

 #postPrice {
  padding: 1px 0px 0px 5px;
  margin-right: 1em;
  color: #090;
}
.detailsContainer {
  display: flex;
  justify-content: space-between;
 }

.leftDetails {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

#titleAndPriceContainer {
  display: flex;
  justify-content: space-between;
}

.arrow {
  color: green;
  display: relative;
  text-emphasis: bold;
}

.arrowContainer:hover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  font-size: 1.5em;
  margin: 0.25em;
}

.displayedImage {
  font-size: 2em;
}

.dotContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}