  <div id="cardContainer">
      <div *ngIf="post.file;else placeholder">
          <img class="mb-1 mx-auto h-[100px]" [src]=configureImagePath()>
          <div *ngIf="fileListLength > 1" class="arrowContainer">
            <mat-icon (click)="updateImagePath('back')" class="arrow left" fontIcon="arrow_left"></mat-icon>
            <span class="dotContainer" *ngFor="let images of post.file; let i = index">
              <span class="dot" [ngClass]="verifyDisplayedImage(i)">	&#8226; </span>
            </span>
            <mat-icon (click)="updateImagePath('forward')" class="arrow right" fontIcon="arrow_right"></mat-icon>
          </div>
        </div>
      <div id="titleAndPriceContainer">
        <h2 (click)="navToPostDetails(post._id)">{{ post.title }}</h2>
        <p id="postPrice">{{ post.price | currency }}</p>
      </div>
      <div class="detailsContainer">
        <div class="leftDetails">
        <!-- favorites **note** just star === filled icon-->
        <mat-icon (click)="addToFave()" *ngIf="!isFavorite" fontIcon="star_outlined"></mat-icon> 
        <mat-icon (click)="removeFromFaves()" *ngIf="isFavorite" fontIcon="star_filled"></mat-icon> 
        <p>{{configureDate()}}</p> 
        <p>{{post.location}}</p>
        </div>
        <div>
          <i class="material-icons">hide_source</i>
        </div>
      </div>
  </div>

  <ng-template #placeholder>
    <mat-icon fontIcon="image"></mat-icon>
  </ng-template>