  <div id="cardContainer">
    <div>
      <div *ngIf="post.file;else placeholder">
        <img class="mb-1 mx-auto h-[100px]" [src]=configureImagePath() alt="">
      </div>
      <ng-template #placeholder>
        <mat-icon fontIcon="image"></mat-icon>
      </ng-template>
      <div>
        <h2>{{ post.title }}</h2>
        <p>Description: {{ post.description}}</p>
      </div>
      <div>
        <span>Price: {{ post.price }}</span>
      </div>
    </div>
    <div>
      <button mat-raised-button (click)="navToPostDetails(post._id)">See Product Details</button>
    </div>
  </div>
