img {
  width: 150%;
  height: 150%;
  padding: none;
  margin: none;
}

 #postPrice {
  border: 1px solid #ccc;
  border-bottom: none;
  border-right: none;
  position: relative;
  top: -205px;
  background-color: white;
  padding: 6px 0px 3px 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  color: #090;
}
.detailsContainer {
  display: flex;
  justify-content: space-between;
 }

.leftDetails {
  display: flex;
  width: 60%;
  justify-content: space-between;
}