.postImage {
  width: 80%;
  height: 250px;
  padding: none;
  margin: none;
}

#placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

#matIcon {
  font-size: 10em;
  width: 100%;
  height: 100%;
  text-align: center;
}

 #postPrice {
  padding: 1px 0px 0px 5px;
  margin-right: 1em;
  color: #090;
}
.detailsContainer {
  display: flex;
  justify-content: space-between;
 }

.leftDetails {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

#titleAndPriceContainer {
  display: flex;
  justify-content: space-between;
}


.cardContainer{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}


.dot {
  font-size: 1.5em;
  margin: 0.25em;
  color: grey;
}

.displayedImage {
  font-size: 2em;
  color: green
}

.dotContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}